# Core project deps
azure-functions>=1.23.0
azure-functions-worker>=1.1.9
azure-storage-blob>=12.26.0
azure-identity>=1.23.1
requests>=2.32.4

# Dev tooling
black>=25.1.0
isort>=6.0.1
pytest>=8.4.1
pytest-asyncio>=1.1.0
pytest-cov>=6.2.1
mypy>=1.17.0

