# Testing requirements for Azure Functions - Basic
# This file contains test dependencies in addition to the runtime requirements

# Include runtime requirements
-r requirements.txt

-r ../../requirements/functions-test.txt
